<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <strong>Create Event</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="lists detail-bg">
  <ion-refresher (ionRefresh)="reloadChart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-item>
      <ion-label>Launch Type</ion-label>
      <ion-select [(ngModel)]="launchType">
        <ion-option value="EveryDay">Every Day</ion-option>
        <ion-option value="date">Exact date</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="launchType == 'EveryDay'">
      <ion-item>
        <ion-label>Launch Hour</ion-label>
        <ion-datetime displayFormat="h:mm" pickerFormat="HH:mm" [(ngModel)]="dateProgrammed"></ion-datetime>
      </ion-item>
    </div>
    <div *ngIf="launchType == 'date'">
      <ion-item>
        <ion-label>Launch day and Hour</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MMMM/YYYY HH:mm"  [(ngModel)]="dateProgrammed"></ion-datetime>
      </ion-item>
    </div>
    <ion-item>
      <ion-textarea placeholder="Description" [(ngModel)]="description"></ion-textarea>
    </ion-item>
  </ion-grid>
</ion-content>