<!-- -->
<ion-header style="z-index: -100">
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>
<ion-content padding class="lists detail-bg">
  <ion-refresher (ionRefresh)="reloadChart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <div *ngFor="let data of doughnutChartData; let i = index">
      <ion-list>
        <ion-list-header>
          <h2>Interface {{data.interface}}</h2>
          <span *ngIf="i == 0" item-end style="margin: 0px">
            <button ion-button tappable [style.backgroundColor]="buttonColor" (click)="autoUpdate()">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </span>
        </ion-list-header>
        <ion-item *ngIf="data.data">
          <h2>Data receiving rate (Kbytes/second)</h2>
        </ion-item>
        <ion-item *ngIf="data.data">
          <h3>
            {{data.data[0]}}
          </h3>
        </ion-item>
        <ion-item *ngIf="data.data">
          <h2>Data transmitting rate (Kbytes/second)</h2>
        </ion-item>
        <ion-item *ngIf="data.data">
          <h3>
            {{data.data[1]}}
          </h3>
        </ion-item>
      </ion-list>
      <br />
    </div>
  </ion-grid>
</ion-content>